<footer class="main-footer container">
  <section class="footer-links">

    <h1 class="visually-hidden">Быстрые ссылки на категории</h1>

    <ul class="footer-ls">
      <li><a href="iphone.html">Ремонт ПК</a></li>
      <li><a href="iphone.html">Ремонт моноблоков</a></li>
      <li><a href="iphone.html">Ремонт ноутбуков</a></li>
      <li><a href="iphone.html">Сборка компьютеров</a></li>
    </ul>
    <ul class="footer-ls">
      <li><a href="iphone.html">Ремонт планшетов Asus</a></li>
      <li><a href="iphone.html">Ремонт планшетов Samsung</a></li>
      <li><a href="iphone.html">Ремонт планшетов Lenovo</a></li>
      <li><a href="iphone.html">Ремонт планшетов Prestigio</a></li>
      <li><a href="iphone.html">Ремонт планшетов Galaxy</a></li>
      <li><a href="iphone.html">Ремонт планшетов ACER</a></li>
      <li><a href="iphone.html">Ремонт планшетов HTC</a></li>
    </ul>
    <ul class="footer-ls">
      <li><a href="iphone.html">Ремонт iPhone 5c</a></li>
      <li><a href="iphone.html">Ремонт iPhone 5s</a></li>
      <li><a href="iphone.html">Ремонт iPhone 6</a></li>
      <li><a href="iphone.html">Ремонт iPhone 6s</a></li>
      <li><a href="iphone.html">Ремонт iPhone 6 plus</a></li>
      <li><a href="iphone.html">Ремонт iPhone 7</a></li>
      <li><a href="iphone.html">Ремонт iPhone 8</a></li>
      <li><a href="iphone.html">Ремонт iPhone 7 plus</a></li>
      <li><a href="iphone.html">Ремонт iPhone 8 plus</a></li>
    </ul>
    <ul class="footer-ls">
      <li><a href="iphone.html">Ремонт iPad 2</a></li>
      <li><a href="iphone.html">Ремонт iPad 3</a></li>
      <li><a href="iphone.html">Ремонт iPad mini</a></li>
      <li><a href="iphone.html">Ремонт iPad mini 2</a></li>
      <li><a href="iphone.html">Ремонт iPad mini 4</a></li>
      <li><a href="iphone.html">Ремонт iPad air</a></li>
      <li><a href="iphone.html">Ремонт iPad air 2</a></li>
      <li><a href="iphone.html">Ремонт iPad Pro</a></li>
    </ul>
    <ul class="footer-ls">
      <li><a href="iphone.html">Ремонт MacBook Pro 13"</a></li>
      <li><a href="iphone.html">Ремонт MacBook Pro 15"</a></li>
      <li><a href="iphone.html">Ремонт MacBook Pro 17"</a></li>
      <li><a href="iphone.html">Ремонт MacBook Pro Retina 13"</a></li>
      <li><a href="iphone.html">Ремонт MacBook Pro Retina 15"</a></li>
      <li><a href="iphone.html">Ремонт MacBook Air 11"</a></li>
      <li><a href="iphone.html">Ремонт MacBook Air 13"</a></li>
      <li><a href="iphone.html">Ремонт MacBook Unibody</a></li>
    </ul>
    <ul class="footer-ls">
      <li><a href="iphone.html">Ремонт моноторов HP</a></li>
      <li><a href="iphone.html">Ремонт моноторов Samsung</a></li>
      <li><a href="iphone.html">Ремонт моноторов LG</a></li>
      <li><a href="iphone.html">Ремонт моноторов Benq</a></li>
      <li><a href="iphone.html">Ремонт моноторов Acer</a></li>
      <li><a href="iphone.html">Ремонт моноторов ViewSonic</a></li>
    </ul>
    <ul class="footer-ls">
      <li><a href="iphone.html">Ремонт iMac 21”</a></li>
      <li><a href="iphone.html">Ремонт iMac 27”</a></li>
      <li><a href="iphone.html">Ремонт Thunderbolt</a></li>
    </ul>
    <ul class="footer-ls">
      <li><a href="iphone.html">Ремонт Samsung</a></li>
      <li><a href="iphone.html">Ремонт HTC</a></li>
      <li><a href="iphone.html">Ремонт LG</a></li>
      <li><a href="iphone.html">Сборка Sony</a></li>
    </ul>
  </section>
  <section class="footer-contacts">

    <h1 class="visually-hidden">Контакты</h1>
    
    <ul class="footer-contacts-links">
      <li>
        <span>Почта:</span>
        <br>
        <span>remiphone@mail.ru</span>
      </li>
      <li>
        <span>Круглосуточный телефон:</span>
        <br>
        <span>+7 (812) 356-65-55</span>
      </li>
      <li>
        <span>Telegram:</span>
        <br>
        <span>80000000000</span>
      </li>
    </ul>
    <ul class="footer-social">
      <li class="insta">instagram</li>
      <li class="vk">vk</li>
      <li class="fb">facebook</li>
    </ul>
  </section>
</footer>