<section class="form-block container">
  <div class="left-flex-item">
    <h1 class="form-block-title">
      Ремонт любой техники<br>
      на дому в Санкт-Петербурге
    </h1>
    <ul class="advantages-ls">
      <li>
        Бесплатная<br>
        диагностика
      </li>
      <li>
        Гарантия<br>
        на работы
      </li>
      <li>
        Пенсионерам<br>
        скидка 20%
      </li>
    </ul>
  </div>
  <div class="right-flex-item">
    <form action="" class="main-form">
      <h3 class="form-title">
        Скинда 10% с заявки с сайта
      </h3>
      <p>
        <label for="name">Имя</label>
        <input type="text" name="name" id="name">
      </p>
      <p>
        <label for="phone">Телефон</label>
        <input type="tel" name="phone" id="phone">
      </p>
      <button type="submit">Хочу скидку!</button>
    </form>
  </div>
</section>
