<header class="main-header">
    <nav class="main-nav container">
      <button type="button" class="menu-toogle">
        Кнопка,открывающая меню на мобильной версии
        <svg version='1.1' x='0px' y='0px' width='24px' height='24px' viewBox='0 0 24 24' fill="#e35362" xml:space='preserve'><rect width='24' height='4'/><rect width='24' height='4' y='14'/><rect width='24' height='4' y='7'/></svg>
      </button>
      <a href="index.html" class="logo">
        <img src="img/logo.png" width="164" height="38" alt="">
      </a>
      <ul class="main-nav-ls">
        <li>
          <a href="" class="main-nav-item">Услуги</a>
        </li>
        <li>
          <a class="main-nav-item">О нас</a>
        </li>
        <li>
          <a href="" class="main-nav-item">Контакты</a>
        </li>
        <li>
          <a class="main-nav-tel">+7 (812) 334-35-55</a>
        </li>
      </ul>
    </nav>
    //= form-block.html
  </header>