<header class="main-header">
  <nav class="main-nav container">
    <ul class="main-nav-ls">
      <li>
        <a href="index.html" class="logo">
          <img src="img/logo.svg" width="164" height="38" alt="">
        </a>
      </li>
      <li>
        <a href="" class="main-nav-item">Услуги</a>
      </li>
      <li>
        <a href="" class="main-nav-item">О нас</a>
      </li>
      <li>
        <a href="" class="main-nav-item">Контакты</a>
      </li>
      <li>
        <a class="main-nav-tel">+7 (812) 334-35-55</a>
      </li>
    </ul>
  </nav>
</header>
