<section class="howwework">
  <h1 class="howwework-title">
    Как мы работаем
  </h1>
  <section class="howwework-item item-one">
    <h3 class="howwework-item-title">
      Делаете заявку
    </h3>
    <p class="howwework-item-descrip">
      Указывайте удобное для вас время.
      Звоните по тел. +7 (812) 603-45-24
      или воспользуйтесь формой
      онлайн заказа.
    </p class="howwework-item-descrip">
  </section>
  <section class="howwework-item item-two">
    <h3 class="howwework-item-title">
      Полная диагностика
    </h3>
    <p class="howwework-item-descrip">
      Мастер проводит диагностику
      и определяет неисправность.
      Сообщает стоимость работ
    </p class="howwework-item-descrip">
  </section>
  <section class="howwework-item item-three">
    <h3 class="howwework-item-title">
      Устраняем неиспрвность
    </h3>
    <p class="howwework-item-descrip">
      В конце работ мастер оставляет вам
      договор и отчет по формату БСО-1.
      Обращайтесь с этими документами,
      если возникнет гарантийный
      случай.
    </p class="howwework-item-descrip">
  </section>
</section>
