<section class="howwework container">
  <h1 class="howwework-title">
    Как мы работаем
  </h1>
  <div class="howwework-container">
    <section class="howwework-item item-one">
      <h3 class="howwework-item-title">
        Делаете заявку
      </h3>
      <p class="howwework-item-descrip">
        Указывайте удобное для вас время.
        Звоните по тел. +7 (812) 603-45-24
        <br>
        или воспользуйтесь формой
        <br>
        онлайн заказа.
      </p>
    </section>
    <section class="howwework-item item-two">
      <h3 class="howwework-item-title">
        Полная диагностика
      </h3>
      <p class="howwework-item-descrip">
        Мастер проводит диагностику
        <br>
        и определяет неисправность.
        <br>
        Сообщает стоимость работ
      </p>
    </section>
    <section class="howwework-item item-three">
      <h3 class="howwework-item-title">
        Устраняем неиспрвность
      </h3>
      <p class="howwework-item-descrip">
        В конце работ мастер оставляет вам
        <br>
        договор и отчет по формату БСО-1.
        <br>
        Обращайтесь с этими документами,
        <br>
        если возникнет гарантийный
        <br>
        случай.
      </p>
    </section>
  </div>
</section>
