.form-block {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  padding: 0 3%;
  color: #ffffff;
  background-color: @main-color;

  @media (max-width: @md-phones) {
    justify-content: center;
  }

  .left-flex-item {
    flex-basis: 60%;

    @media (max-width: @md-phones) {
      flex-basis: 100%;
    }
  }

  .right-flex-item {
    flex-basis: 18.5%;

    @media (max-width: @md-phones) {
      flex-basis: 90%;
    }
  }

  .form-block-title {
    padding-bottom: 80px;
    font-size: 46px;
    font-weight: 700;
    line-height: 60px;

    @media (max-width: @tablets) {
      .title-h1-tablets();
    }

    @media (max-width: @md-phones) {
      .title-h1-md-phones();
    }
  }

  .advantages-ls {
    display: flex;
    justify-content: space-between;
    margin: 0;
    padding: 0;
    padding-bottom: 40px;
    list-style: none;

    @media (max-width: @md-phones) {
      justify-content: space-around;
    }

      li {
        position: relative;

        &:nth-child(1)::before {
          content: '';
          position: absolute;
          width: 70px;
          height: 73px;
          top: -80px;
          right: 0;
          left: 0;
          margin: auto;
          background: url(../img/diagnosis.png) no-repeat;
        }

        &:nth-child(2)::before {
          content: '';
          position: absolute;
          width: 70px;
          height: 73px;
          top: -80px;
          right: 0;
          left: 0;
          margin: auto;
          background: url(../img/garanty.png) no-repeat;
        }

        &:nth-child(3)::before {
          content: '';
          position: absolute;
          width: 70px;
          height: 73px;
          top: -80px;
          right: 0;
          left: 0;
          margin: auto;
          background: url(../img/olds.png) no-repeat;
        }
      }
  }
}

.main-form {
  
  .form-title {
    margin: 0;
    text-align: center;
    font-size: 22px;
    font-weight: 700;
    line-height: 32px;
  }

  p {
    margin: 0;
  }

  label {
    font-size: 14px;
    font-weight: 400;
  }

  input {
    min-height: 40px;
    padding-left: 5%;
    border: 2px solid #ffffff;
    color: #ffffff;
    background: none;

    @media (max-width: @md-phones) {
      width: 100%;
      margin: 5px 0;
    }
  }

  button {
    width: 100%;
    margin-top: 20px;

    @media (max-width: @md-phones) {
      width: 100%;
      margin-bottom: 20px;
      text-align: center;
    }

    cursor: pointer;
    transition: .3s;
    background-color: @yellow;

    .global-btn();

    &:active {
      opacity: 0.6;
    }
  }
}
