.index-main-flex-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.block-list {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  width: 49%;
  min-height: 500px;
  margin-top: 30px;
  padding: 50px 15px 50px 5%;
  background-color: @gray-bg;

  @media (max-width: 1190px) {
    flex-basis: 570px;
    flex-grow: 1;
  }

  @media (max-width: @sm-phones) {
    flex-wrap: wrap;
    min-height: 350px;
    padding: 0;
    padding-left: 15px;
    align-content: flex-start;
  }
  
  .ls-title {
    font-size: 24px;
    font-weight: 700;
    line-height: 34.88px;
    color: #000000;

    @media (max-width: @sm-phones) {
      .title-h2-sm-phones();
    }
  }

  .main-ls {
    .ls-reset();
  }

  .ls-items {
    .ls-reset();

    @media (max-width: @sm-phones) {
      display: none;
    }

    a {
      font-weight: 400;
      line-height: 34.88px;
      color: #000000;
    }
  }

  .img-box {
    display: flex;
    flex-direction: column;
    align-items: center;

    @media (max-width: @sm-phones) {
      margin: auto;
    }

    a {
      .global-btn();
      width: 80%;
      margin: 30px 0;
      text-align: center;
      text-decoration: none;
      color: #ffffff;
      background-color: @main-color;

      &:hover {
        transition: all 0.3s;
        color: #000;
        background-color: @yellow;
      }

      &:active {
        opacity: 0.6;
      }
    }
  }
}